.page-wrapper .page-content {
    display: inline-block;
    width: 100%;
    padding-left: 10px;
    padding-top: 20px;
}
  
.page-wrapper .page-content > div {
    padding: 10px 10px;
}
  
.page-wrapper .page-content {
    overflow-x: hidden;
}

.page-wrapper.toggled .page-content {
    padding-left:500px;
}