.input-icons i { 
    position: absolute; 
} 
  
.input-icons { 
    width: 100%; 
    margin-bottom: 10px; 
} 
  
.icon { 
    padding: 10px; 
    min-width: 40px; 
} 
  
.input-field { 
    width: 100%; 
    padding: 10px; 
    text-align: center; 
} 

.shadowhr{
    border:none;
    height: 20px;
    width: 100%;
    height: 50px;
    margin-top: 0;
    box-shadow: 0 6px 11px -10px rgb(99, 95, 95);
    margin: -50px auto 10px; 
      
}

.larg{
    width: 20%;
}

