.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: -5px;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav2 {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: -4px;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
}

.ajustpic{
  width: 56px;
  height: 56px;
  margin-top: 10px;
}

.paragraph{
  color: red;
  margin-top: 3px;
  margin-left: -13px;
  
}

.paragraph2{
  margin-top: -27px;
  margin-left: 69px;
}

.lineDiv{
  border:none;
    height: 20px;
    width: 100%;
    height: 50px;
    margin-top: 0;
    box-shadow: 0 6px 11px -10px rgb(99, 95, 95);
    margin: -50px auto 10px; 
}


.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #a59b8f;
  border-radius: 30px;
  padding: 10px;
  }

.search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  }

.searchbar:hover > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:red;
  }

.searchbar:hover > .search_icon{
  background: white;
  color: #e74c3c;
  }

.search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  }

.sidebar-submenu{
  padding-right: 8px;
}