<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="../css/sidebar.css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <title>Page Admin</title>
</head>

<script>
    jQuery(function ($) {

        $(".sidebar-dropdown > a").click(function () {
            $(".sidebar-submenu").slideUp(200);
            if (
                $(this)
                    .parent()
                    .hasClass("active")
            ) {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .parent()
                    .removeClass("active");
            } else {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .next(".sidebar-submenu")
                    .slideDown(200);
                $(this)
                    .parent()
                    .addClass("active");
            }
        });

        $("#close-sidebar").click(function () {
            $(".page-wrapper").removeClass("toggled");
        });
        $("#show-sidebar").click(function () {
            $(".page-wrapper").addClass("toggled");
        });
    });
    function change(iconID) {
        if (document.getElementById(iconID).className == "fa fa-fw fa-angle-down") {
            document.getElementById(iconID).className = "fa fa-fw fa-chevron-up";
        }
    }
</script>

<body style="background-color: whitesmoke;">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff;">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active mr-4 ml-5">
                    <div class="input-icons">
                        <i class="fas fa-fw fa-search"></i>
                        <input type="text" name="search" placeholder="Buscar...">
                    </div>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="#createProject" data-toggle="modal" data-target="#createProject">
                        <i class="fas fa-fw fa-plus"></i>Criar projeto
                    </a>
                </li>

                <li class="nav-item mr-4">
                    <a class="nav-link" href="#"><i class="fas fa-fw fa-user-plus"></i></i> Cadastrar usuário</a>
                </li>

                <li>
                    <a class="nav-link" href="#"><i class="fas fa-fw fa-user-tie"></i>Cadastrar cliente</a>
                </li>
            </ul>
        </div>
    </nav>

    <hr class="shadowhr">

    <!--Sidebar-->

    <div class="navbar navbar-light sidenav">
        <img src="../imagens/userBach.jpg" class="rounded-circle ajustpic">
            <small class="paragraph"><b>Dashboard Admin</b></small>
            <br>
            <small class="paragraph2">Paulo Correia</small>
    </div>
    <div class="navbar navbar-light sidenav2">
        <ul class="navbar-nav mr-auto ml-2 mt-2">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-home"></i> Dashboard
                </a>
            </li>
            <li class="nav-item sidebar-dropdown">
                <a class="nav-link" href="#">
                    <i class="fa fa-fw fa-users"></i>
                    <span>Cadastros</span>
                    <i class="fa fa-angle-down ml-4" change('fa fa-fw fa-angle-down')></i>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li>
                            <a class="nav-link" href="#">Usuários
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Clientes</a>
                        </li>

                    </ul>
                </div>
            </li>

            <li class="nav-item sidebar-dropdown">
                <a class="nav-link" href="#">
                    <i class="fa fa-fw fa-folder-open"></i>
                    <span>Projetos</span>
                    <i class="fa fa-angle-down ml-4"></i>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li>
                            <a class="nav-link" href="#">Criar projeto
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Relatórios</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Registros</a>
                        </li>
                    </ul>
                </div>
            </li>


            <li class="nav-item sidebar-dropdown">
                <a class="nav-link" href="#">
                    <i class="fa fa-fw fa-user-circle"></i>
                    <span>Minha conta</span>
                    <i class="fa fa-angle-down ml-4"></i>
                </a>
                <div class="sidebar-submenu">
                    <ul>
                        <li>
                            <a class="nav-link" href="#">Trocar senha
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Editar perfil</a>
                        </li>
                    </ul>
                </div>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-fw fa-clock" aria-hidden="true"></i>
                    <span>Ver registro de horas</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-fw fa-wrench"></i>
                    <span>Configurações</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="../index.html">
                    <i class="fa fa-fw fa-times-circle"></i>
                    <span>Sair</span>
                </a>
            </li>

        </ul>
    </div>


    <!-- Modal createProject -->
    <div class="modal fade" id="createProject" tabindex="-1" role="dialog" aria-labelledby="modalCenterProject"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCenterProject">Título do modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Salvar mudanças</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>