<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Page Admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="../css/sidebar.css">
    <link rel="stylesheet" href="../css/content-home.css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<script>
    //funcao para dropdown da sidebar
    jQuery(function ($) {

        $(".sidebar-dropdown > a").click(function () {
            $(".sidebar-submenu").slideUp(200);
            if (
                $(this)
                    .parent()
                    .hasClass("active")
            ) {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .parent()
                    .removeClass("active");
            } else {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .next(".sidebar-submenu")
                    .slideDown(200);
                $(this)
                    .parent()
                    .addClass("active");
            }
        });

        $("#close-sidebar").click(function () {
            $(".page-wrapper").removeClass("toggled");
        });
        $("#show-sidebar").click(function () {
            $(".page-wrapper").addClass("toggled");
        });
    });

</script>

<body style="background-color: whitesmoke;">
    <!--barra horizontal-->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff;">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">

                <li class="nav-item mr-4">
                    <div class="nav-link search">
                        <i class="fa fa-fw fa-search"></i>
                        <input class="searchrounded" placeholder="Buscar...">
                    </div>
                </li>
                <li class="nav-item mr-5 mt-1">
                    <a class="nav-link" href="#createProject" data-toggle="modal" data-target="#createProject">
                        <i class="fas fa-fw fa-plus"></i>Criar projeto
                    </a>
                </li>

                <li class="nav-item mr-5 mt-1">
                    <a class="nav-link" href="#"><i class="fas fa-fw fa-user-plus"></i></i> Cadastrar usuário</a>
                </li>

                <li class="nav-item mr-4 mt-1">
                    <a class="nav-link" href="#"><i class="fas fa-fw fa-user-tie"></i>Cadastrar cliente</a>
                </li>
            </ul>
        </div>
    </nav>

    <hr class="shadowhr">

    <!--sidebar-->
    <div class="navbar navbar-light sidenav">
        <img src="../imagens/userBach.jpg" class="rounded-circle ajustpic">
        <small class="paragraph" style="font-family: Comic Sans MS, cursive, sans-serif"><b>Dashboard Admin</b></small>
        <br><br><br>
        <small class="paragraph2" style="font-family: Comic Sans MS, cursive, sans-serif">Sebastião Bach</small>
    </div>
    <div class="navbar navbar-light sidenav2">
        <ul class="navbar-nav mr-auto ml-2 mt-2">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-home"></i> Dashboard
                </a>
            </li>

            <li class="nav-item sidebar-dropdown">
                <a class="nav-link" href="#">
                    <i class="fa fa-fw fa-users"></i>
                    <span>Cadastros</span>
                    <i class="fa fa-angle-down ml-4"></i>
                </a>
                <div class="sidebar-submenu">
                    <ul style="list-style-type:none">
                        <li>
                            <a class="nav-link" href="#">Usuários
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Clientes</a>
                        </li>

                    </ul>
                </div>
            </li>

            <li class="nav-item sidebar-dropdown">
                <a class="nav-link" href="#">
                    <i class="fa fa-fw fa-folder-open"></i>
                    <span>Projetos</span>
                    <i class="fa fa-angle-down ml-4"></i>
                </a>
                <div class="sidebar-submenu">
                    <ul style="list-style-type:none">
                        <li>
                            <a class="nav-link" href="#">Criar projeto
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Relatórios</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Registros</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item sidebar-dropdown">
                <a class="nav-link" href="#">
                    <i class="fa fa-fw fa-user-circle"></i>
                    <span>Minha conta</span>
                    <i class="fa fa-angle-down ml-4"></i>
                </a>
                <div class="sidebar-submenu">
                    <ul style="list-style-type:none">
                        <li>
                            <a class="nav-link" href="#">Trocar senha
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">Editar perfil</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-fw fa-clock" aria-hidden="true"></i>
                    <span>Ver registro de horas</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-fw fa-wrench"></i>
                    <span>Configurações</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="../index.html">
                    <i class="fa fa-fw fa-times-circle"></i>
                    <span>Sair</span>
                </a>
            </li>
        </ul>
    </div>

    <!--Conteúdo central da página-->
    <div class="conteudo" style="font-family: Comic Sans MS, cursive, sans-serif">
        <small style="color: gray"><b>Home/Dashboard</b></small>
        <br><br>
        <h5>Olá <b style="color: rgb(136, 138, 248)">Sebastião Bach</b>, bem vindo!</h5>
        <small style="color: gray">Acompanhe o andamento dos seus projetos</small>
        <br><br>
        <div class="card margin-card">
            <h6 class="ml-3 mt-3">Listagem de projetos</h6>
            <div class="nav-item sidebar-dropdown">
                <i class="nav-link fa fa-fw fa-filter ml-2 mt-3" style="color: gray;"></i>
                <span style="color: gray; font-size: 14px">Todos os registros no projeto</span>
                <i class="nav-link fas fa-sort-down mt-3" style="color: rgb(170, 162, 162);"></i>
                <span class="hours" style="color: gray; font-size: 14px">Horas lançadas</span>
                &nbsp;&nbsp;&nbsp;
                <span style="color: gray; font-size: 14px">Horas faltantes</span>
                <hr class="line-card">

            </div>

            <div class="card margin-card-body">
                <img src="../imagens/gsw.png" class="rounded-circle ajustpic ml-2">
                <div class="content-dash margin-card-body" style="font-size: 14px;">
                    <b>
                        GSW Software <i class="fa fa-lg fa-caret-right" style="color: gray"></i> Desafio
                    </b>
                    <div class="hours2">
                        <i class=" far fa-clock hours2" style="color: gray"> <span style="color: gray">08:00</span></i>
                        <i class=" far fa-clock hours3" style="color: gray"> <span style="color: gray">10:00</span></i>
                    </div>
                    <small style="font-size: 12px; color: gray">Teste para admissao de estagiário front-end</small>
                    <br>
                    <i class="fa fa-calendar-alt mt-2" style="color:gray"></i> Termina em 6 de Julho
                </div>

                <div class="progress" style="height: 4px">
                    <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <br><br><br>

            <div class="card margin-card-body">
                <img src="../imagens/embraer.png" class="rounded-circle ajustpic ml-2">
                <div class="content-dash margin-card-body" style="font-size: 14px;">
                    <b>Embraer
                        <i class="fa fa-lg fa-caret-right" style="color: gray"></i>
                        Projeto aeronáutico</b>
                    <div class="hours2">
                        <i class=" far fa-clock hours2" style="color: gray"> <span style="color: gray">08:00</span></i>

                        <i class=" far fa-clock hours3" style="color: gray"> <span style="color: gray">12:00</span></i>
                    </div>

                    <small style="font-size: 12px; color: gray">Software embarcado para aeronaves</small>
                    <br>
                    <i class="fa fa-calendar-alt mt-2" style="color:gray"></i> Termina em 6 de Julho
                </div>

                <div class="progress" style="height: 4px">
                    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <br><br><br>

            <div class="card margin-card-body">
                <img src="../imagens/bayer.png" class="rounded-circle ajustpic ml-2">
                <div class="content-dash margin-card-body" style="font-size: 14px;">
                    <b>Bayer
                        <i class="fa fa-lg fa-caret-right" style="color: gray"></i>
                        Healthy</b>
                    <div class="hours2">
                        <i class=" far fa-clock hours2" style="color: gray"> <span style="color: gray">08:00</span></i>

                        <i class=" far fa-clock hours3" style="color: gray"> <span style="color: gray">09:00</span></i>
                    </div>

                    <small style="font-size: 12px; color: gray">Programa farmacêutico</small>
                    <br>
                    <i class="fa fa-calendar-alt mt-2" style="color:gray"></i> Termina em 6 de Julho
                </div>

                <div class="progress" style="height: 4px">
                    <div class="progress-bar" role="progressbar" style="width: 93%;" aria-valuenow="93"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <br>
        </div>
    </div>
</body>

</html>